@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<main role="main">
			<section class="parallax--bg-fixed">
    <div class="content--table-center">
                <video id="video" width="100%" height="100%" autoplay loop style="opacity: 1;">
            <source src="video/home_bg.webm" type="video/webm">
            <source src="video/home_bg.mp4" type="video/mp4">
        </video>
                <div class="wrapper__overlay"></div>
        <div class="wrapper">
            <h1>Software Development <br> for a great User Experience</h1>
            <h4>Our team of professionals in the United States, Argentina and Mexico, <br>deliver end-to-end UX-focused software.</h4>
        </div>
        <a href="#our-work" role="button" class="arrow-go-down"><img src="http://makingsense.com/img/arrow-go-down.png" alt="scroll to" title="Go down"/></a>
    </div>
</section>

<div id="main-content">
    <section class="section--auto-height section--quoute-ceo">
        <div class="section--content">
            <h2>“We are driven to provide our customers with the best software quality and user experience possible”.</h2>
            <hr />
            <p>CESAR DONOFRIO, <span>CHIEF EXECUTIVE OFFICER</span></p>
        </div>
    </section>

    <section class="section--auto-height section--home-slider" id="our-work">
        <div class="section-touch">
            <h2 class="print">Case Studies</h2>
            <div id="slide1" class="item slide-one">
                <div class="section--content">
                    <h2><blockquote>“Making Sense provided us the consulting and development we needed in order to get it done, and get it done quickly”.</blockquote></h2>
                    <p>HERBERT SEVERIN, VP STRATEGIC INNOVATION AT COPSYNC</p>
                    <a href="#video-slide1" role="button" class="button play-testimonial">
                        <span class="player"><span class="arrow-player"></span></span>
                    </a>
                </div>
                <div class="pager">
                    <a href="#slide1" role="button" class="pager-one active"><img src="img/Pager/slide-02.png" alt=""><span>VIDTAC</span></a>
                    <a href="#slide2" role="button" class="pager-two"><img src="img/Pager/slide-01.png" alt=""><span>RACKSPACE</span></a>
                    <a href="#slide3" role="button" class="pager-three"><img src="img/Pager/slide-03.png" alt=""><span>COPSYNC911</span></a>
                </div>
            </div>
            <div id="slide2" class="item slide-two">
                <div class="section--content">
                    <h2><blockquote>“We believe that Making Sense delivered an excellent product at a fair price in a remarkable amount of time”.</blockquote></h2>
                    <p>COLE HUMPHREYS, PRODUCT MARKETING MANAGER AT RACKSPACE</p>
                    <a href="#video-slide2" role="button" class="button play-testimonial">
                        <span class="player"><span class="arrow-player"></span></span>
                    </a>
                </div>
                <div class="pager">
                    <a href="#slide1" role="button" class="pager-one"><img src="img/Pager/slide-02.png" alt=""><span>VIDTAC</span></a>
                    <a href="#slide2" role="button" class="pager-two active"><img src="img/Pager/slide-01.png" alt=""><span>RACKSPACE</span></a>
                    <a href="#slide3" role="button" class="pager-three"><img src="img/Pager/slide-03.png" alt=""><span>COPSYNC911</span></a>
                </div>
            </div>
            <div id="slide3" class="item slide-three">
                <div class="section--content">
                    <h2><blockquote>“Making Sense was able to provide us with the knowledge that we needed to produce a useful and effective application in a very simple way”.</blockquote></h2>
                    <p>RONALD WOESSNER, CEO AT COPSYNC</p>
                    <a href="#video-slide3" role="button" class="button play-testimonial">
                        <span class="player"><span class="arrow-player"></span></span>
                    </a>
                </div>
                <div class="pager">
                    <a href="#slide1" role="button" class="pager-one"><img src="img/Pager/slide-02.png" alt=""><span>VIDTAC</span></a>
                    <a href="#slide2" role="button" class="pager-two"><img src="img/Pager/slide-01.png" alt=""><span>RACKSPACE</span></a>
                    <a href="#slide3" role="button" class="pager-three active"><img src="img/Pager/slide-03.png" alt=""><span>COPSYNC911</span></a>
                </div>
            </div>
        </div>
    </section>


        <section id="modal--video-slide1" class="modal--home-section">
            <div class="modal-header">
                <a href="#slide1" role="button" class="modal--do-close color-inverted video-close is-hidden">Close <span class="icon-close"></span></a>
            </div>
        <div class="modal--holder modal--default modal--testimonial" id="video-slide1">
            <figure id="videoContainer-video-slide1" class="video-container">
                <video id="video-video-slide1" class="video-element" controls preload="metadata">
                    <source src="video/VidTac.mp4" type="video/mp4">
                    <source src="video/VidTac.webm" type="video/webm">
                    <source src="video/VidTac.ogg" type="video/ogg">
                </video>
                <span id="btPlay-video-slide1" role="button" class="icon-play"></span>
                <ul id="video-controls-video-slide1" class="controls">
                    <li>
                        <button id="playpause-video-slide1" class="play-pause" type="button">
                            <svg version="1.1" id="Untitled-P_x25_E1gina_x25_201"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px"
                                 viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
                                <g>
                                    <path fill="#FFFFFF" d="M0,0v35h35V0H0z M16,23h-3V12h3V23z M22,23h-3V12h3V23z"/>
                                    <rect x="13" y="12" fill="#424251" width="3" height="11"/>
                                    <rect x="19" y="12" fill="#424251" width="3" height="11"/>
                                </g>
                            </svg>
                        </button>
                    </li>
                    <li class="progress">
                        <progress id="progress-video-slide1" class="progress-element" value="0" min="0">
                             <span id="progress-bar-video-slide1"></span>
                        </progress>
                    </li>
                    <li><span id="videoTime-video-slide1" class="video-time"></span></li>
                </ul>
            </figure>
        </div>
    </section>

    <section id="modal--video-slide2" class="modal--home-section">
        <div class="modal-header">
            <a href="#slide2" role="button" class="modal--do-close color-inverted video-close is-hidden">Close <span class="icon-close"></span></a>
        </div>
        <div class="modal--holder modal--default modal--testimonial" id="video-slide2">
            <figure id="videoContainer-video-slide2" class="video-container">
                <video id="video-video-slide2" class="video-element" controls preload="metadata">
                    <source src="video/rackspace.mp4" type="video/mp4">
                    <source src="video/rackspace.webm" type="video/webm">
                    <source src="video/rackspace.ogg" type="video/ogg">
                </video>
                <span id="btPlay-video-slide2" role="button" class="icon-play"></span>
                <ul id="video-controls-video-slide2" class="controls">
                    <li>
                        <button id="playpause-video-slide2" class="play-pause" type="button">
                            <svg version="1.1" id="Untitled-P_x25_E1gina_x25_201"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px"
                                 viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
                                <g>
                                    <path fill="#FFFFFF" d="M0,0v35h35V0H0z M16,23h-3V12h3V23z M22,23h-3V12h3V23z"/>
                                    <rect x="13" y="12" fill="#424251" width="3" height="11"/>
                                    <rect x="19" y="12" fill="#424251" width="3" height="11"/>
                                </g>
                            </svg>
                        </button>
                    </li>
                    <li class="progress">
                        <progress id="progress-video-slide2" class="progress-element" value="0" min="0">
                             <span id="progress-bar-video-slide2"></span>
                        </progress>
                    </li>
                    <li><span id="videoTime-video-slide2" class="video-time"></span></li>
                </ul>
            </figure>
        </div>
    </section>

    <section id="modal--video-slide3" class="modal--home-section">
        <div class="modal-header">
            <a href="#slide3" role="button" class="modal--do-close color-inverted video-close is-hidden">Close <span class="icon-close"></span></a>
        </div>
        <div class="modal--holder modal--default modal--testimonial" id="video-slide3">
            <figure id="videoContainer-video-slide3" class="video-container">
                <video id="video-video-slide3" class="video-element" controls preload="metadata">
                    <source src="video/COPsync.mp4" type="video/mp4">
                    <source src="video/COPsync.webm" type="video/webm">
                    <source src="video/COPsync.ogg" type="video/ogg">
                </video>
                <span id="btPlay-video-slide3" role="button" class="icon-play"></span>
                <ul id="video-controls-video-slide3" class="controls">
                    <li>
                        <button id="playpause-video-slide3" class="play-pause" type="button">
                            <svg version="1.1" id="Untitled-P_x25_E1gina_x25_201"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px"
                                 viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
                                <g>
                                    <path fill="#FFFFFF" d="M0,0v35h35V0H0z M16,23h-3V12h3V23z M22,23h-3V12h3V23z"/>
                                    <rect x="13" y="12" fill="#424251" width="3" height="11"/>
                                    <rect x="19" y="12" fill="#424251" width="3" height="11"/>
                                </g>
                            </svg>
                        </button>
                    </li>
                    <li class="progress">
                        <progress id="progress-video-slide3" class="progress-element" value="0" min="0">
                             <span id="progress-bar-video-slide3"></span>
                        </progress>
                    </li>
                    <li><span id="videoTime-video-slide3" class="video-time"></span></li>
                </ul>
            </figure>
        </div>
    </section>
        <section class="section--auto-height section--home-knowhistory">
        <div class="wrapper">
            <h3>Who We Are</h3>
            <p>We're a team of analysts, engineers and designers working from offices in the United States, Argentina and Mexico, providing end-to-end UX-focused software development to companies seeking to scale in product innovation.</p>
            <a role="button" class="button button--secondary button--dark button--small" href="http://makingsense.com/about-us">MEET US</a>
            <img src="img/knowhistory--image.png" alt="">
        </div>
    </section>
    <section class="section--auto-height services-us--clients">
        <div class="wrapper">
            <h5>COMPANIES THAT TRUST MAKING SENSE</h5>
            <img src="http://makingsense.com/img/dell.svg" alt="dell" />
            <img src="http://makingsense.com/img/amd.svg" alt="amd" />
            <img src="http://makingsense.com/img/foxsport.svg" alt="fox sport" />
            <img src="http://makingsense.com/img/rackspace.svg" alt="rackspace" />
            <img src="http://makingsense.com/img/the_scooter_store.svg" alt="the scooter store" />
            <img src="http://makingsense.com/img/microsoft.svg" alt="microsoft" />
        </div>
    </section>
</div>		
</main>
<!-- End of main content -->