@inherits MS.Sc.Infrastructure.Views.BaseView<MS.Sc.Models.ICompanies>

<section class="section--auto-height services-us--clients">
    <div class="wrapper">
        <h5>@Editable(i => i.Title)</h5>
        @foreach(var company in Model.Companies_Items)
        {
            @RenderImage(company, c => c.Image)
        }
    </div>
</section>