<section class="section--auto-height services-us--clients">
    <div class="wrapper">
        <h5>COMPANIES THAT TRUST MAKING SENSE</h5>
        <img src="http://makingsense.com/img/dell.svg" alt="dell" />
        <img src="http://makingsense.com/img/amd.svg" alt="amd" />
        <img src="http://makingsense.com/img/foxsport.svg" alt="fox sport" />
        <img src="http://makingsense.com/img/rackspace.svg" alt="rackspace" />
        <img src="http://makingsense.com/img/the_scooter_store.svg" alt="the scooter store" />
        <img src="http://makingsense.com/img/microsoft.svg" alt="microsoft" />
    </div>
</section>