@inherits MS.Sc.Infrastructure.Views.BaseView<MS.Sc.Models.IWhoWeAre>

<section class="section--auto-height section--home-knowhistory">
    <div class="wrapper">
        <h3>@Editable(i => i.Title)</h3>
        <p>@Editable(i => i.Description)</p>
        @RenderLink(i => i.Button, new { @class = "button button--secondary button--dark button--small" }, isEditable: true  )
        @RenderImage(i => i.Image, isEditable: true)
    </div>
</section>