<section class="section--auto-height section--home-knowhistory">
    <div class="wrapper">
        <h3>Who We Are</h3>
        <p>We're a team of analysts, engineers and designers working from offices in the United States, Argentina and Mexico, providing end-to-end UX-focused software development to companies seeking to scale in product innovation.</p>
        <a role="button" class="button button--secondary button--dark button--small" href="http://makingsense.com/about-us">MEET US</a>
        <img src="img/knowhistory--image.png" alt="">
    </div>
</section>