@inherits MS.Sc.Infrastructure.Views.BaseView<MS.Sc.Models.IItem_Base>

<section class="section--auto-height section--quoute-ceo">
    <div class="section--content">
        @Editable(i => i.Description)
    </div>
</section>