<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Windsor.ContainerConfiguration>
      <controllers>
        <assembly name="MS.Sc.Infrastructure" patch:after="assembly[@name='Sitecore.Mvc']" />
        <assembly name="MS.Sc.Web" patch:after="assembly[@name='Sitecore.Mvc']" />
      </controllers>
      <installers>
        <type name="MS.Sc.Infrastructure.Installers.ControllersInstaller,MS.Sc.Infrastructure" patch:before="type[@name='Glass.Mapper.Sc.CastleWindsor.SitecoreInstaller, Glass.Mapper.Sc.CastleWindsor']" />
        <type name="MS.Sc.Infrastructure.Installers.BusinessComponentsInstaller, MS.Sc.Infrastructure" patch:before="type[@name='Glass.Mapper.Sc.CastleWindsor.SitecoreInstaller, Glass.Mapper.Sc.CastleWindsor']" />
      </installers>
    </Windsor.ContainerConfiguration>
    <!-- Custom Pipelines -->
    <pipelines>
      <initialize>
        <!-- Initialize IoC -->
        <processor type="MS.Sc.Infrastructure.Pipelines.InitializeControllerFactory, MS.Sc.Infrastructure" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
      </initialize>
      <!-- Error Handling Approach -->
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc">
          <patch:attribute name="type">MS.Sc.Business.ErrorHandling.GetExceptionSafeViewRenderer, MS.Sc.Business</patch:attribute>
        </processor>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc">
          <patch:attribute name="type">MS.Sc.Business.ErrorHandling.GetExceptionSafeControllerRenderer, MS.Sc.Business</patch:attribute>
        </processor>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>