<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="MS.Sc.Error.ErrorMessageFormat" value="&lt;p class=&#39;bg-danger&#39;&gt;{0}&lt;br/&gt;{1}&lt;/p&gt;" />
      <setting name="MS.Sc.Error.ErrorMessageTitle" value="Oops," />
      <setting name="MS.Sc.Error.ErrorMessageText" value="Something went wrong with showing this component. Please try again later" />
    </settings>
    <Windsor.ContainerConfiguration>
      <controllers>
        <assembly name="MS.Sc.Infrastructure" patch:after="assembly[@name='Sitecore.Mvc']" />
        <assembly name="MS.Sc.Web" patch:after="assembly[@name='Sitecore.Mvc']" />
      </controllers>
      <installers>
        <type name="MS.Sc.Infrastructure.Installers.ControllersInstaller,MS.Sc.Infrastructure" patch:before="type[@name='Glass.Mapper.Sc.CastleWindsor.SitecoreInstaller, Glass.Mapper.Sc.CastleWindsor']" />
        <type name="MS.Sc.Infrastructure.Installers.BusinessComponentsInstaller, MS.Sc.Infrastructure" patch:before="type[@name='Glass.Mapper.Sc.CastleWindsor.SitecoreInstaller, Glass.Mapper.Sc.CastleWindsor']" />
      </installers>
    </Windsor.ContainerConfiguration>
    <!-- Custom Pipelines -->
    <pipelines>
      <initialize>
        <!-- Initialize IoC -->
        <processor type="MS.Sc.Infrastructure.Pipelines.InitializeControllerFactory, MS.Sc.Infrastructure" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
      </initialize>
      <!-- Error Handling Approach -->
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc">
          <patch:attribute name="type">MS.Sc.Infrastructure.ErrorHandling.GetExceptionSafeViewRenderer, MS.Sc.Infrastructure</patch:attribute>
        </processor>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc">
          <patch:attribute name="type">MS.Sc.Infrastructure.ErrorHandling.GetExceptionSafeControllerRenderer, MS.Sc.Infrastructure</patch:attribute>
        </processor>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>